@using SpeedyTurtle.Models
@model SpeedyTurtle.Models.UserTask

@{
    ViewBag.Title = "Details";
}

<fieldset>
    <legend><strong>@Html.DisplayFor(model => model.Title)</strong></legend>

    <p class="well">
        @Html.DisplayFor(model => model.Description)
    </p>

</fieldset>

@if (ViewBag.UserType != null && ViewBag.UserType == UserType.Agent)
{
    <div class="dropdown">
        <a id="submitBid" class="btn btn-primary" data-target="#" data-toggle="dropdown">I can do this task!</a>
        
        <div class="dropdown-menu">
            <form id="submit-bid" action="/Task/SubmitBid" class="form-horizontal" style="margin: 10px">
                <div class="input-prepend">
                    <span class="add-on">R</span>
                    <input type="text" name="Amount" class="input-small" placeholder="Amount">
                </div>
                <input type="text" name="Comments" class="input-xlarge" placeholder="Comments">
                <input type="hidden" name="TaskId" value="@(Model.Id)"/>
                <button type="submit" class="btn" onclick="return SubmitTaskBid()">Place Bid</button>
            </form>
        </div>
    </div>
    
    <div id="bidAccepted" class="alert alert-success hidden">Bid Accepted!</div>
}

<hr/>
<p>
    @Html.ActionLink("Back to Tasks", "List")
</p>
<script language="javascript" type="text/javascript">
    function SubmitTaskBid()
    {
        var $form = $('#submit-bid');

        $.ajax({
            type: "POST",
            url: $form.attr('action'),
            data: $form.serialize(),
            error: function (xhr, status, error) {
                // todo: [AJ] display error message here!
                $('[data-toggle="dropdown"]').parent().removeClass('open');
            },
            success: function (response) {
                //do something with response
                $('[data-toggle="dropdown"]').parent().removeClass('open');
                $('#submitBid').addClass('hidden');
                $('#bidAccepted').removeClass('hidden');
            }
        });

      return false;// if it's a link to prevent post
    }
</script>