@model SpeedyTurtle.Models.UserTask

@{
    ViewBag.Title = "Details";
}

<h2>Task Details</h2>

<fieldset>
    <legend>Task</legend>

    <div class="display-label">Title</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">Description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
</fieldset>
<p>
    @Html.ActionLink("I want to do this task!", "SubmitBid", "Bid", new { taskId = Model.Id }, null)
    @Html.ActionLink("Back to List", "List")
</p>
