@model SpeedyTurtle.Models.UserTask

@{
    ViewBag.Title = "Details";
}

<fieldset>
    <legend><strong>@Html.DisplayFor(model => model.Title)</strong></legend>

    <div class="display-field">
        <p>@Html.DisplayFor(model => model.Description)</p>
    </div>

</fieldset>
<hr/>
<p>
    @Html.ActionLink("I want to do this task!", "SubmitBid", new { taskId = Model.Id }, new { @class = "btn btn-primary" })
</p>
<p>
    @Html.ActionLink("Back to List", "List")
</p>
