@{
    ViewBag.Title = "Profile";
}

<h2>Aabida Davis</h2>

<img src="../../Content/images/aabida.png" class="img-rounded" style="margin-bottom: 20px"/>

<p>I am a 24 year old with a wide range of skills and talent including, filing, general administration, wicked smile and a wicked sense of humour!!</p>

<p>I am speedy, efficient, hard-working, with awesome ironing skills. </p>

<p>Allow me to free up your time. </p>

