@{
    ViewBag.Title = "Profile";
}

<h2>Aabida Davis</h2>

<div class="">
    <h4 class="success">4 Star Rating, from 42 tasks completed</h4>
    <p><i class="icon-star"> </i> <i class="icon-star"> </i> <i class="icon-star"> </i> <i class="icon-star"> </i> <i class="icon-star icon-star-empty"></i></p>
</div>

<img src="../../Content/images/aabida.png" class="img-rounded" style="margin-bottom: 20px; margin-top: 20px"/>

<p>I am a 24 year old with a wide range of skills and talent including, filing, general administration, wicked smile and a wicked sense of humour!!</p>

<p>I am speedy, efficient, hard-working, with awesome ironing skills. </p>

<p>Allow me to free up your time. </p>

